
{% extends 'main/base.html' %}



{% block content %}

  {# upload csv form #}
  <article class="media content-section"><div class="media-body">
    <h4>UPLOAD . . .</h4>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <label>find file to upload -></label>
      <input type="file" name="file" accepts=".csv"/><br><br>
      <button type="submit">upload</button>
    </form>
  </div></article>

  {# display table from uploaded csv #}
  <article class="media content-section"><div class="media-body">
    <h4>TABLE . . .</h4>
    {% if not_csv %}
      <p>{{ not_csv }}</p>
    {% elif table %}
      <table>
        {% for row in table %}
          {% if forloop.first %}<tr>{% for i in row %}<th>{{ i }}</th>{% endfor %}</tr>
          {% else %}            <tr>{% for i in row %}<td>{{ i }}</td>{% endfor %}</tr>
          {% endif %}
        {% endfor %}
      </table>
    {% else %}
      <p>no csv file uploaded</p>
    {% endif %}
  </div></article>

{% endblock content %}



{# {% for d in data %} #}
  {# <article class="media content-section"> #}
    {# <div class="media-body"> #}
        {# <a class="mr-2">{{ d.packageshipmentid }}</a> #}
        {# <small class="mr-2">{{ d.companyid }}</small> #}
        {# <small class="mr-2">{{ d.attention }}</small> #}
        {# <small class="mr-2">{{ d.address1 }}</small> #}
    {# </div> #}
  {# </article> #}
{# {% endfor %} #}
