
{% extends 'main/base.html' %}

{% block content %}

  {# upload csv form #}
  <article class="media content-section"><div class="media-body">
    <h4>UPLOAD . . .</h4>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <label>find file to upload . . .</label>
      <input type="file" name="csv_upload"><br><br>
      <button type="submit">upload</button>
    </form>
  </div></article>

  {# display table from uploaded csv #}
  <article class="media content-section"><div class="media-body">
    <h4>TABLE . . .</h4>
    {% if not_csv %}
      <p>{{ not_csv }}</p>
    {% elif table %}
      <p>data from file '{{ file_name }}'</p>
      <table>
        {% for row in table %}
          {% if forloop.first %}<tr>{% for i in row %}<th>{{ i }}</th>{% endfor %}</tr>
          {% else %}            <tr>{% for i in row %}<td>{{ i }}</td>{% endfor %}</tr>
          {% endif %}
        {% endfor %}
      </table>
      {# store data from uploaded csv and offer user final 'submit' button #}
      <form method="post" enctype="multipart/form-data"><div id="div_submit">
        {% csrf_token %}
        <input type="text" name="submitting" value="{{ table }}">
        <p>
          Are you sure these are the orders you want to submit? . . .
          <button type="submit">yes, please submit</button>
        </p>
      </div></form>
    {% else %}
      <p>no csv file uploaded</p>
    {% endif %}
  </div></article>

{% endblock content %}
